.menu-center{
    text-align: center !important;
}

.title-page{
    margin-left: 20px !important;
}

.card-body-auth{
    padding: 20px !important;
}

.btn-lg{
    width: 100%!important;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ECEEEF;
    padding-top: 20px;
    z-index: 999;
}

.contenedor{
    margin: 5px !important;

    .card{
        margin: 5px;
        padding: 5px;
        width: 100%;
    }

}

.contenedor-margin{
    margin: 20px;
}


.paginate-links{
    text-align: center!important;
    width: 100%;
    margin-bottom: 50px;
}

.img-profile{
    width: 90px;
    height: auto;
}

#account{
    width: 100%;
    .card{
        margin: 5px;
    }
}
